* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.userDropdown {
  display: none;
}

.userDropdownBtn:hover .userDropdown {
  display: block;
  display: flex;
  flex-direction: column;
  transition: all 1s;
}

.nav span {
  position: relative;
  font-weight: 800;
  color: #411a17;
}

.nav span:before {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  transition: all, cubic-bezier(.795, -.035, 0, 1), .3s;
  background-color: #ee6948;
}

.nav span:hover:before {
  width: 100%;
}

.wrapper_outer {
  height: 80vh;
  overflow: hidden;
}

.wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  /* transform: perspective(1px); */
}


.menu img {
  max-width: 150px;
}

.react-parallax-bgimage::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgba(10, 4, 4, 0.2);
}

/* Footer */
.box-footer {
  display: block;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  width: 100%;
  padding: 1em 0;
  margin: 0 auto;
  text-align: center;
}

.box-footer>div:not(:last-child) {
  margin-bottom: 1.5em;
}

.logo-box p {
  /* text-align: left; */
  margin-top: 1em;
}

.social-chanel {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  gap: 4%;
}

.icon-footer {
  display: table-cell !important;
  vertical-align: middle !important;
  color: white;
  width: 40px !important;
  height: 40px !important;
  font-size: 1.2em;
  border-radius: 999px;
  padding: 0.5em;
  fill: white;
  transition: .5s;
}

.icon-footer:hover {
  transform: scale(1.1);
}

.icon-footer svg {
  width: 0.7em;
  margin: 0 auto;
  padding-top: 2px;
}

.icon-mail svg {
  width: 0.8em;
}

.icon-fb {
  background: #3a589d !important;
}

.icon-fb:hover {
  background: #22345e !important;
}

.icon-ins {
  background: #3b6994 !important;
}

.icon-ins:hover {
  background: #1c3247 !important;
}

.icon-tiktok {
  background: #111 !important;
}

.icon-mail {
  background: #111 !important;
}

.contact p {
  /* text-align: left; */
  margin-bottom: 10px;
}

/* Header */
.nav-header {
  transition: opacity 0.5s;
}

.menu-icon svg {
  color: #411917 !important;
}

@media (min-width: 1024px) {
  .box-footer {
    display: grid;
    text-align: left;
  }

  .box-footer>div:not(:last-child) {
    margin-bottom: 0;
  }

}