* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.userDropdown {
  display: none;
}

.userDropdownBtn:hover .userDropdown {
  display: block;
  display: flex;
  flex-direction: column;
  transition: all 1s;
}

.nav span {
  position: relative;
  font-weight: 800;
  color: #411a17;
}

.nav span:before {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  transition: all, cubic-bezier(.795, -.035, 0, 1), .3s;
  background-color: #ee6948;
}

.nav span:hover:before {
  width: 100%;
}

.wrapper_outer {
  height: 80vh;
  overflow: hidden;
}

.wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  /* transform: perspective(1px); */
}

.parallax_section {
  /* padding: 50px; */
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  /* height: 100%; */
  position: relative;
  overflow: hidden;
  /* overflow: auto; */
  transform-style: preserve-3d;
  /* perspective: 1px; */
}

.parallax_bg {
  height: 100%;
}

.parallax_section h2 {
  width: 60vw;
  color: #fff;
  margin: 0;
  font-size: 5em;
  z-index: 1;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-60%);
  line-height: 100px;
  font-weight: 900;
  box-sizing: border-box !important;
  z-index: 1;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.react-parallax-bgimage::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgba(10, 4, 4, 0.2);
}