.slider {
  -webkit-appearance: none;
  height: 12px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 75%;
  background: #b7791f;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 75%;
  background: #b7791f;
  cursor: pointer;
}


/* Slide */
.parallax_section {
  /* padding: 50px; */
  height: 35em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 100%; */
  position: relative;
  overflow: hidden;
  /* overflow: auto; */
  transform-style: preserve-3d;
  /* perspective: 1px; */
}

.parallax_bg {
  height: 100%;
}

.parallax_section h2 {
  width: 10em;
  color: #fff;
  margin: 0;
  font-size: 5em;
  z-index: 1;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-60%);
  line-height: 100px;
  font-weight: 900;
  box-sizing: border-box !important;
  z-index: 1;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.react-parallax-bgimage::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgba(10, 4, 4, 0.2);
}

/* SingelProductV2 */
.block-item {
  /* width: 20vw; */
  /* margin-right: 20px;
  padding-right: 2%; */
  width: 23%;
}

.price_before {
  text-decoration: line-through;
}

.list-item,
.list-item-grid {
  padding: 0 10px;
  margin: 0 10px;
  position: relative;
  z-index: 3;
}

.list-item-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  margin: 0;
  padding: 0;
}

.list-item-brand {
  justify-content: center;
}


.picture_item img {
  margin: auto;
  max-height: 250px;


}

.slick-slider {
  position: relative;
}

.slick-slide {
  float: left;
  padding-right: 2em;
  /* transform: rotateX(180deg); */
}

.slick-slide.item {
  transform: unset;
  flex-direction: column;
  align-items: center;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-initialized .slick-slide {
  display: block;
}

/* .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
} */

.slick-next,
.btn-next {
  right: -25px;
}

.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-next,
.slick-prev {
  display: none !important;
}

.btn-prev,
.btn-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  z-index: 19;
  color: #000;
}


.slick-dots li button:before {
  font-family: slick;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "\2022";
  text-align: center;
  opacity: .25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Title */
.section-title-normal {
  border-bottom: 2px solid #ececec;
  text-transform: uppercase;
  font-weight: 700;
  /* font-size: 24px; */
}

.section-title {
  align-items: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  position: relative;
  width: 100%;
  margin-bottom: 1.5em;
}

/* Brand */
.logo-brand {
  padding: 15px;
  width: 150px;

}

.logo-brand img {
  transition: filter .6s, opacity .6s, transform .6s, box-shadow .3s;

  height: 40px;
}

.logo-brand img:hover {
  transform: scale(1.1);
}

/* Service */
.box-icon {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.box-icon img {
  flex: 0 0 auto;
  margin-bottom: 0;
  max-width: 200px;
  width: 3em;
}

.list-service {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  width: 100%;
  padding: 1em 0;

}

.box-icon p {
  padding-left: 1em !important;
  margin: auto 0 !important;
}

.info-contact {
  background-color: #000;
}

.info-contact p {
  padding: 2em 0;
  color: white;
  text-align: center;
}